/* Navbar Mobile Styles */

@media (max-width: 425px) {

  .sitename {
    width:90%;
  }

  .nav {
    display:none;
  }
  .menuIcon {
    display:flex;
    margin-right:15px;
    font-size:1.5em;
  }

}
